@import "/lesss/font.less";
@import "/lesss/grid";
@import "/lesss/spacing";

/* global */
* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}
/* main-container  */
.main-container {
  // display: grid;
  // grid-template-columns: auto 1fr auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  padding: 0;
  height: 100vh;
}
/* side bar */
.side-bar {
  transition: 1.1s ease;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 20px 20px 0px 20px;
  span {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    column-gap: 20px;
    &:hover {
      .bx {
        transform: scale(1.1);
        border-radius: 4px;
        background-color: #000;
        color: #fff;
        z-index: 2;
      }
      .menu-title:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    .menu-title {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      position: relative;
      color: #000;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    }
  }
}
/* main */
.main {
  flex-grow: 4;
}
/* main card */
.card {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & > * {
      margin: 3px 5px 3px 10px;
    }
    .bx {
      background-color: darken(antiquewhite, 15%);
      border-radius: 50%;
      padding: 5px;
    }
    span {
      margin-left: 0px;
    }
    h2 {
      font-weight: bold;
    }
    small {
      color: darken(antiquewhite, 50%);
    }
  }
}
/* cards */
.cards {
  margin: 20px;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .min-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 25px;
    --bg: #fff;
    &.sales {
      background-color: #ffeee2;
      --bg: #ffeee2;
    }
    &.profit {
      background-color: #eefcef;
      --bg: #eefcef;
    }
    &.orders {
      background-color: #e6f5fa;
      --bg: #e6f5fa;
    }
    &.visits {
      background-color: #f4f5f9;
      --bg: #f4f5f9;
    }
    .text-era {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h4,
      h3 {
        font-weight: bold;
      }
      small {
        color: rgba(0, 0, 0, 0.5);
      }
      & > * {
        margin: 5px;
      }
    }
    .svg-era {
      @keyframes growProgressBar {
        0%,
        33% {
          --pgPercentage: 0;
        }
        100% {
          --pgPercentage: var(--value);
        }
      }

      @property --pgPercentage {
        syntax: "<number>";
        inherits: false;
        initial-value: 0;
      }

      div[role="progressbar"] {
        --size: 120px;
        --fg: #171717;
        --pgPercentage: var(--value);
        animation: growProgressBar 3s 1 forwards;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: grid;
        place-items: center;
        background: radial-gradient(
            closest-side,
            var(--bg) 80%,
            transparent 0 99.9%,
            var(--bg) 0
          ),
          conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
        // font-family: Helvetica, Arial, sans-serif;
        // font-size: calc(var(--size) / 5);
        // color: var(--fg);
      }

      div[role="progressbar"]::before {
        counter-reset: percentage var(--value);
        content: counter(percentage) "%";
        font-family: "Roboto", sans-serif;
        font-size: 1.953rem;
        font-weight: bold;
      }
    }
  }
}
/* right side bar */
.right-sidebar {
  background-image: url("img/eplswtu62oa31.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90%;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  .part {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .bx {
        color: #000;
        background-color: #b7b7b7;
        border-radius: 50%;
        padding: 5px;
      }
    }
    .text {
      display: grid;
      grid-template-rows: 1fr 1fr;
      span {
        font-size: 1.563rem;
        font-weight: bold;
      }
      small {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
/* progress  */
